@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    box-sizing: border-box;
}

:root {
    /*
        Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
        Moderate Violet (chat on the left): hsl(276, 55%, 52%)
        Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
        Grayish Blue (placeholder text): hsl(206, 6%, 79%)
        Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
        Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)
        Gradients
        These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:
        Light Magenta: hsl(293, 100%, 63%)
        Light Violet: hsl(264, 100%, 61%)
        Secondary
        White: hsl(0, 0%, 100%)
        Light Grayish Violet (app background): hsl(270, 20%, 96%)
        Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
        Very Light Magenta (radio button outline): hsl(289, 100%, 72%)
    */
    --clr-text-sub-heading: hsl(276, 100%, 81%);
    --clr-text-message-from: hsl(276, 55%, 52%);
    --clr-text-message-to: hsl(271, 15%, 43%);
    --clr-text-placeholder: hsl(206, 6%, 79%);
    --clr-text-heading: hsl(271, 36%, 24%);
    --clr-text-paragraph: hsl(270, 7%, 64%);
    --clr-gradient-main-light: hsl(293, 100%, 63%);
    --clr-gradient-main-dark: hsl(264, 100%, 61%);
    --clr-base: hsl(0, 0%, 100%);
    --clr-bg-app: hsl(270, 20%, 96%);
    --clr-bg-button-submit: hsl(271, 36%, 24%);
    --clr-outline-radio-button: hsl(289, 100%, 72%);
    --fw-light: 400;
    --fw-normal: 500;
    --fw-bold: 700;
}

html {
    font-family: "Rubik", sans-serif;
    font-weight: var(--fw-normal);
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--clr-base);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

img {
    max-width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
}

.icon {
    display: block;
    width: 1rem;
    aspect-ratio: 1;
    background-color: var(--clr-base);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

/* --- */

.phone {
    background-color: var(--clr-bg-app);
    border: 1rem solid var(--clr-base);
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.25rem 0.2rem rgba(0, 0, 0, 0.125);
}

.header {
    --_indentation: 1rem;
    --_padding: 0.75rem;

    background: linear-gradient(
        to right,
        var(--clr-gradient-main-dark),
        var(--clr-gradient-main-light)
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--_padding) 0.5rem;
    padding-top: calc(1.5 * var(--_padding) + var(--_indentation));
    color: var(--clr-base);
    border-radius: 0.5rem;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    background-color: var(--clr-base);
    width: 60%;
    height: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    top: 0;
    left: 50%;
    translate: -50%;
}

.header .icon.back {
    mask-image: url("/docs/assets/icons/chevron-compact-left.svg");
}

.header .icon.menu {
    mask-image: url("/docs/assets/icons/three-dots-vertical.svg");
}

.header .avatar {
    width: 2rem;
    border-radius: 100%;
    border: 1px solid var(--clr-base);
}

.header p {
    font-size: 0.9rem;
    margin: 0;
}

.header .subHeading {
    font-size: 0.7rem;
    font-weight: var(--fw-light);
    color: var(--clr-text-sub-heading);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.message {
    --_bdrs-off: 0.25rem;
    border-radius: 0.75rem;
    padding: 0.4rem;
    max-width: 65%;
    font-size: 0.7rem;
    font-weight: var(--fw-light);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.message.from {
    border-bottom-left-radius: var(--_bdrs-off);
    background-color: color-mix(
        in srgb,
        var(--clr-text-sub-heading) 25%,
        transparent 100%
    );
    color: var(--clr-text-message-from);
    align-self: flex-start;
}

.message.to {
    border-bottom-right-radius: var(--_bdrs-off);
    background-color: var(--clr-base);
    color: var(--clr-text-message-to);
    align-self: flex-end;
}

.gallery {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.gallery img {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        to right,
        var(--clr-gradient-main-light),
        var(--clr-gradient-main-dark)
    );
    color: var(--clr-base);
    padding: 0.6rem;
    border-radius: 0.75rem;
    border-bottom-left-radius: 0.25rem;
    max-width: 80%;
}

.offer p {
    margin: 0;
    font-weight: var(--fw-light);
    font-size: 0.75rem;
}

.offer .radio {
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 1px solid var(--clr-outline-radio-button);
}

.messageBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    margin-top: 0;
    padding: 0.5em;
    padding-left: 1rem;
    border-radius: 2rem;
    background-color: var(--clr-base);
    font-size: 0.7rem;
    color: var(--clr-text-placeholder);
    font-weight: var(--fw-light);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.messageBox p {
    margin: 0;
}

.messageBox button.submit {
    border: none;
    background-color: var(--clr-bg-button-submit);
    padding: 0.3em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageBox .icon.arrowRight {
    mask-image: url("./docs/assets/icons/chevron-right.svg");
}

main {
    text-align: center;
    margin-top: 1.5rem;
}

main h1 {
    font-weight: var(--fw-bold);
    color: var(--clr-text-heading);
}

main p {
    color: var(--clr-text-paragraph);
    font-weight: var(--fw-light);
    line-height: 150%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
}

footer a {
    color: var(--clr-text-message-from);
}
